<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Create a Class</h1>
        <p> add your info below</p>
    </div>

    <form method="post" action="createNewClass">
        Class Name: <input type="text" name="className" placeholder="Brandeis CS10a-02 Fall19">
    </form>


<%- include('bootfooter') -%>
